<section id="contenido">
                      <div id="contenedor" class="row">
                            <div class="col col-xs-12">   
<article class="vistaforo">
        <figure class="imagen_vistaforo">
                <img src="img/{imagen}" />
        </figure>
        <h2 class="titulo_vistaforo">

        <a href="">{titulo}</a>

        </h2>
        <p class="autor_vistaforo"></p>
        <a>David Saavedra</a>

                                         				
</article>
                                
                                         </div>
					
                      </div>
          
		</section>