<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>	
		<title>
			FusmComunnity
		</title>
		<link rel="stylesheet" href="../staticos/css/style.css">		
		<link rel="stylesheet" href="../staticos/css/bootstrap.min.css"/>
		


	</head>


	<body>

		<header>

			<div id="contenedor" class="row">
                        <div class="col col-xs-10">
                                <figure id="logo">
                                        <img src="../staticos/img/logo.jpg"/>
                                </figure>
                                <h1 id="titulo_header"></h1>
                                <figure id="cabecera">
                                        <img class="cabe img-responsive" src="../staticos/img/cabecera.png"/>

                                </figure>

                                </div>

                                 <div class="col col-xs-2">
                                <figure id= "avatar">
                                        <img class="log img-responsive" src="../staticos/img/avatar.png"/>

                                </figure>

                                </div>

					
		 	</div>

		</header>
        
                     <div id="contenedor" class="row">
                        <div class="col col-lg-12">
        

				{nav}	        	
     
                        </div>
		     </div>
     
		
			
			{contenido}	   
                                        

                                
                   

		<footer>
			<p><strong> Realizado por David Saavedra y Moises Contreras</strong></p>
			<p>DappSolution 2014</p> 
		</footer>

	</body>

</html>	 