	<section id="contacto">

			<div id="contenedor" class="row">
                        <div class="col col-xs-12">



							<article class="contenido_contacto">

								<h2 class="titulo_contacto">
								 	Encuentranos en nuestra sede Villavicencio 
								</h2>
										<p class="dir">
											Cra 40. No. 20-39 Barrio Villamaria
										</p>

										<p class="tel">
											6716662-6716818 ext 114
										</p>
								
									<iframe class="mapa img-responsive" width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=universidad+san+martin,+villavicencio&amp;aq=t&amp;sll=40.396764,-3.713379&amp;sspn=9.468342,21.643066&amp;ie=UTF8&amp;hq=universidad+san+martin,&amp;hnear=Villavicencio,+Meta,+Colombia&amp;t=m&amp;ll=4.136114,-73.637602&amp;spn=0.005136,0.006866&amp;z=17&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=universidad+san+martin,+villavicencio&amp;aq=t&amp;sll=40.396764,-3.713379&amp;sspn=9.468342,21.643066&amp;ie=UTF8&amp;hq=universidad+san+martin,&amp;hnear=Villavicencio,+Meta,+Colombia&amp;t=m&amp;ll=4.136114,-73.637602&amp;spn=0.005136,0.006866&amp;z=17" style="color:#0000FF;text-align:left"></a></small>				
							
								
							</article>


			</div>

					
		 	</div>
				
		<section/>