
			<section id="formulario">
			<article class="registro_formulario">

                                <h2 id="registrarseh2">Ingresa!</h2>
                                <form action="php/login.php" method="GET" >
                                    
                                     <input type="email" class="mail_registro"  name="correo" placeholder="Email" required autofocus/>
                                    <input  type="password"class="contraseña_registro" type="password" name="pass" placeholder="Contraseña" required/>

                                    
                                    <input class="boton_registro" type="submit" name="boton"value="Login"/>
                               </form>

				
			</article>
                            
                            	<section/>
